{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bagus Kurnia</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
README.md
controller
css
go.mod
go.sum
images
main.go
tmp
views
    <div class="title-wrapper">
      <h1 class="title">{{ .Title }}</h1>
    </div>
    <div class="description">
      <p class="text">{{ .Content }}</p>
      <p class="text">Crafting software solution with focus of high performance</p>
    </div>
  </div>
</body>

</html>
{{ end }}
